*,
*::after {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background: #fff;
    padding: 10px;
}

.first-sec {
    padding: 10px;
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #666666;
    border-top: 5px solid #4aaaa5;
}


/*----------------------------------------------------------------------------------------------------------------------
=                       Header starts                     
-----------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #eee;
    font-size: 20.3px;
}

header {
    width: 100%;
    height: 55cv;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("https://cdn.dribbble.com/users/822246/screenshots/3165821/coding_line_art_concept-01.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.menu-toggle {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    color: #eeeeee;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}

.brand {
    font-size: 30px;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.brand span {
    color: gold;
}

nav ul {
    display: flex;
    font-size: 13.5px;
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
    font-size: 13.5px;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: .5s;
}

nav ul li:nth-child(3) {
    animation-delay: 1s;
}

nav ul li:nth-child(4) {
    animation-delay: 1.5s;
}

nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child {
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}

.overlay {
    background-color: rgba(0, 0, 0, .95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}

@keyframes slideIn {
    from {}
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 979px) {
    .menu-toggle {
        display: block;
    }
    nav {
        padding-top: 0;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-top: 5rem;
    }
    nav ul li a {
        margin: 0;
        font-size: 2.5rem;
    }
    .brand {
        font-size: 5rem;
    }
    .overlay.menu-open,
    nav.menu-open {
        display: flex;
        transform: scale(1);
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: white;
}


/*----------------------------------------------------------------------------------------------------------------------
                                             Header Ends                    
-----------------------------------------------------------------------------------------------------------------------*/

.first-sec {
    border-top-style: solid;
    border-top-color: #dddddd;
    background-color: transparent;
}

.sec-border {
    background-color: transparent;
    margin: 0 auto;
    width: 960px;
    border: solid;
    border-color: black;
    margin-top: 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("https://cdn.dribbble.com/users/822246/screenshots/3165821/coding_line_art_concept-01.jpg") center no-repeat;
}

.part-one {
    font-size: 30px;
    font-family: cursive;
    color: gold;
    border-bottom: transparent;
    padding: 20px;
}

.part-one,
.part-two {
    margin: 30px;
}

.part-two {
    padding-bottom: 15px;
    letter-spacing: 1.2px;
    font-weight: 300;
}

.mypic {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
}

.foot-note {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}


/*-----------------------Contact----------------------------*/

.btn {
    display: inline-block;
    background-color: transparent;
    color: black;
    padding: none;
    text-decoration: black;
    border-radius: none;
}


/*-----------------------Portfolio----------------------------*/

.port-imgs {
    margin: 20px;
    width: 150px;
}

.flex-container-two {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.flex-container-two>div {
    background-color: transparent;
    margin: 0 30px;
    font-size: 35px;
    color: gold;
}

.thir-piclink {
    position: relative;
    text-align: center;
    color: gold;
}

.port-link {
    text-decoration: none;
    color: gold;
    font-size: 25px
}

.imgtitlink {
    width: 150px;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 150px;
    padding: 3px 0;
    font-family: cursive;
    font-size: 18px;
}

.flex-container {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.flex-container>div {
    background-color: black;
    margin: 40px 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    width: 150px;
    text-align: center;
}

#container {
    width: 980px;
    margin: 0px auto;
}

@media screen and (max-width:979px) {
    #container {
        width: 100%;
        margin: auto;
    }
    img {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:767px) {
    #container {
        width: 100%;
        margin: auto;
    }
    img {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:639) {
    #container {
        width: 100%;
        margin: auto;
    }
    img {
        width: 100%;
        margin: auto;
    }
}
