.collapse {
    padding: 0;
}

.veiw {
    max-width: 100px;
    height: auto;
}

.dropdown-menu {
    background-color: aqua;
}

.container-fluid {
    padding: 0;
}

#myid {
    height: 104px;
    width: 140px;
}

#myid img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}